<body>

	<div class="row">

		<div class="large-12 columns">
			<h1>Cards Demo</h1>
		</div>

	</div>

	<div class="row">
		<div class="large-4 small-6 columns">
			
			<div class="card">
				<div class="flipper">
					<div class="front">
						<img src="http://placehold.it/400x600" />
					</div>

					<div class="back">
						<h5>This is a card.</h5>
						<p>This card shows some content on the front and some on the back, and can be flipped by hovering on a desktop, or by swiping across on a touch device.</p>
						<p>The back of the card is intentionally long, so that we can show both an example where the card is constrained to a square and where it is as long as the content on either side requires.</p>
						<p>This card shows some content on the front and some on the back, and can be flipped by hovering on a desktop, or by swiping across on a touch device.</p>
						<p>The back of the card is intentionally long, so that we can show both an example where the card is constrained to a square and where it is as long as the content on either side requires.</p>
					</div>
				</div>
			</div>

		</div>

		<div class="large-4 small-6 columns">
			
			<div class="card square">
				<div class="flipper">
					<div class="front">
						<img src="http://placehold.it/400x200" />
						<h4>Example Card Title</h4>
					</div>

					<div class="back">
						<h5>This is a card.</h5>
						<p>This card shows some content on the front and some on the back, and can be flipped by hovering on a desktop, or by swiping across on a touch device.</p>
						<p>The back of the card is intentionally long, so that we can show both an example where the card is constrained to a square and where it is as long as the content on either side requires.</p>
						<p>This card shows some content on the front and some on the back, and can be flipped by hovering on a desktop, or by swiping across on a touch device.</p>
						<p>The back of the card is intentionally long, so that we can show both an example where the card is constrained to a square and where it is as long as the content on either side requires.</p>
					</div>
				</div>
			</div>

		</div>

		<div class="large-4 columns">
			
			<div class="card">
				<div class="flipper">
					<div class="front">
						<img src="http://placehold.it/400x300" />
					</div>

					<div class="back">
						<h5>This is a card.</h5>
						<p>This card shows some content on the front and some on the back, and can be flipped by hovering on a desktop, or by swiping across on a touch device.</p>
						<p>The back of the card is intentionally long, so that we can show both an example where the card is constrained to a square and where it is as long as the content on either side requires.</p>
						<p>This card shows some content on the front and some on the back, and can be flipped by hovering on a desktop, or by swiping across on a touch device.</p>
						<p>The back of the card is intentionally long, so that we can show both an example where the card is constrained to a square and where it is as long as the content on either side requires.</p>
					</div>
				</div>
			</div>

		</div>
	</div>


	<%= render "_test-scripts.html.erb" %>

</body>