<body>

	<div class="flip">
		<div class="container">
			
			<div class="front">
				<div class="row">
					<div class="large-12 columns">
						<h1>This is the front of the page.</h1>
						<p>On the back of this page is the nav.</p>
					
						<a href="#" class="flip-this">Menu</a>

						<ul class="small-block-grid-2 large-block-grid-4">
							<li><img src="http://placehold.it/500x500" /></li>
							<li><img src="http://placehold.it/500x500" /></li>
							<li><img src="http://placehold.it/500x500" /></li>
							<li><img src="http://placehold.it/500x500" /></li>
							<li><img src="http://placehold.it/500x500" /></li>
							<li><img src="http://placehold.it/500x500" /></li>
							<li><img src="http://placehold.it/500x500" /></li>
							<li><img src="http://placehold.it/500x500" /></li>
							<li><img src="http://placehold.it/500x500" /></li>
							<li><img src="http://placehold.it/500x500" /></li>
							<li><img src="http://placehold.it/500x500" /></li>
							<li><img src="http://placehold.it/500x500" /></li>
						</ul>
					</div>
				</div>
			</div>

			<nav class="back">
				<div class="row">
					<div class="large-12 columns">
						<ul class="side-nav">
							<li><a href="#">Item 1</a></li>
							<li><a href="#">Item 2</a></li>
							<li><a href="#">Item 3</a></li>
							<li><a href="#">Item 4</a></li>
							<li><a href="#">Item 5</a></li>
						</ul>

						<a href="#" class="flip-this">Close</a>
					</div>
				</div>
			</nav>

		</div>
	</div>


	<%= render "_test-scripts.html.erb" %>

</body>