$bg: #13181e;
$name: #f0a52c;
$txt: #afc2df;
$value: #ca3f1d;
$selector: #2c80b3;
$comment: #47545f;

/* CodeRay Syntax Highlighting Styles to match Github */
.CodeRay {
  background-color: $bg;
  font-family: 'Consolas', 'Liberation Mono', Courier, monospace;
  color: $txt;
  padding: .8em 0 .8em .8em;
  margin-bottom: 1.3em;
  overflow: auto;
}

.CodeRay pre {
  margin: 0px;
  font-size: .9em;
  line-height: 1.4em;
  white-space: pre;
}

table.CodeRay { border-collapse: collapse; width: 100%; padding: 2px }
table.CodeRay td {
  padding: 1em 0.5em;
  vertical-align: top;
}

.CodeRay .code { width: 100% }

.CodeRay .debug { color:white !important; background:blue !important; }

.CodeRay {

  .content {
    display: inline !important;
    position: static !important;
    background: transparent !important;
    border: none !important;
    top: 0 !important;

  }

  .line { display: block; float: left; width: 100%; }

  .code {
    width: 100%;
    pre { overflow: auto; }
   }

  .debug { color: white !important; background: blue !important; }

  .annotation { color:$name; }
  .attribute-name { color:$name; }
  .attribute-value { color:$name; }
  .binary { color:$name; }

  .char {
    color:$name;;
    .content { color:$name; }
    .delimiter { color:$name; }
  }

  .class { color:$value; }

  .class-variable { color:$value; }
  .color { color:$value; }

  .comment {
    color:$comment;
    .char { color:$comment }
    .delimiter { color:$comment }
  }

  .complex { color:$selector; }
  .constant { color:$selector; font-weight:bold }
  .decorator { color:$selector; }
  .definition { color:$selector; font-weight:bold }
  .delimiter { color:black }
  .directive { color:$selector; font-weight:bold }
  .doc { color:$selector; }
  .doc-string { color:$selector; font-weight:bold }
  .doctype { color:$selector; }
  .entity { color:$selector; font-weight:bold }
  .error { color:$selector; }
  .escape  { color:$selector; }
  .exception { color:$selector; font-weight:bold }
  .float { color:$value; }

  .function { color:$value; }

  .global-variable { color:$value; }
  .hex { color:$value }
  .imaginary { color:$value; }
  .include { color:$value;; font-weight:bold }
  .inline-delimiter { font-weight: bold; color: #666 }
  .instance-variable { color:$value; }
  .integer  { color:$selector }

  .key {
    color: $txt;;
    .char { color: $txt; }
    .delimiter { color: $txt; }
  }

  .keyword { color:$txt; font-weight:bold }

  .label { color:$value; font-weight:bold }
  .local-variable { color:$value }
  .namespace { color:$value; font-weight:bold }
  .octal { color:$value }
  .operator { }
  .predefined { color:$value; font-weight:bold }
  .predefined-constant { color:$value }
  .predefined-type { color:$value; font-weight:bold }
  .preprocessor { color:$value }
  .pseudo-class { color:$value; font-weight:bold }

  .regexp {
    .content, .delimiter { color:$value }
    .modifier { color:$value }
  }

  .reserved { color:$selector; font-weight:bold }

  .shell {
    .content { color:$selector; }
    .delimiter { color:$selector; }
  }

  .string {
    .char { color: #b0b }
    .content, .delimiter { color: $txt; }
    .modifier { color: #E40 }
  }

  .symbol {
    color:$selector;
    .content { color:$selector; }
    .delimiter { color:$selector; }
  }

  .tag { color:$selector; }
  .type { color:$selector; font-weight:bold }
  .value { color: $selector; }
  .variable  { color:$selector; }


  .change {
    color: #bbf;
    .change { color: #88f }
  }

  .head {
    color: #f8f;
    .filename { color: white; }
    .head { color: #f4f }
  }
}