/* Main Content Area */
#mainContent {
  position: relative;
  margin-top: 20px;

  h1.main-title {
    margin-bottom: 0px;
    margin-top: 44px;
    @media #{$small} { margin-top: -12px; }
  }

  .docs-list { margin-left: 34px !important; }
}

/* Next Steps Panel */
.next-step {
  margin-bottom: 60px;
  margin-top: 50px;

  .inline-list {
    overflow: visible;
    margin-left: 18px;
    @include clearfix;
    display: inline;
    width: auto;
    float: left !important;
    margin-bottom: 0;
    @media only screen and (min-width: 1024px) { margin-left: 0; float: right !important; }
    li {
      margin-left: 0;
      float: right;
      margin-right: 10px;

      @media only screen and (min-width: 1024px) { margin-right: 20px; }
    }
  }
  .button {
    margin-bottom: 0;
    font-size: 11px;
    padding-bottom: .625em;

    @media only screen and (min-width: 1024px) { font-size: .8125em; }
  }

  h4 {
    margin-bottom: 14px;
    display: block;
    width: 100%;
    padding-left: 18px;
    @media only screen and (min-width: 1024px) {
      display: inline;
      width: auto;
      margin-bottom: 0;
      line-height: 28px;
    }
  }

  &.panel .button.secondary { background-color: #fff;
    &:hover { background-color: #ddd; }
  }

}