/* ZURBjobs */
.jobs {
  border: 1px solid #eee;
  padding: 16px 20px 10px;
  margin-bottom: 60px;
  font-size: 14px;
  line-height: 1.1;
  overflow: hidden;
  position: relative;

  ul {
    list-style: none;

    li {
      margin-bottom: 10px;
      width: 100%;

      &:nth-child(2n+1) { clear: both; }
    }
  }
  .location {
    display: block;
    color: #555;
  }
  #via {
    font-size: 11px;
    color: lighten($primary-color, 25%);

    &:hover { color: lighten($primary-color, 25%); }
  }
}