@import "settings";
@import "normalize";
@import "foundation";
@import "off-canvas";
@import "coderay";

.row { max-width: 1200px; }

/* Documentation Custom Styles for matching the Marketing page */

/* Typography Overrides */
.docs.header { margin-bottom: 10px; }
.docs.subheader { float: $default-float; }
.docs.section-container a.active { font-weight: bold; }
@font-face { font-family: 'OpenSans'; src: url('../assets/OpenSans-Light-webfont.eot'); src: url('../assets/OpenSans-Light-webfont.eot?#iefix') format("embedded-opentype"), url('../assets/OpenSans-Light-webfont.woff') format("woff"), url('../assets/OpenSans-Light-webfont.ttf') format("truetype"), url('../assets/OpenSans-Light-webfont.svg#OpenSansLight') format("svg"); font-weight: light; font-weight: 300; font-style: normal; }
@font-face { font-family: 'OpenSans'; src: url('../assets/OpenSans-Regular-webfont.eot'); src: url('../assets/OpenSans-Regular-webfont.eot?#iefix') format("embedded-opentype"), url('../assets/OpenSans-Regular-webfont.woff') format("woff"), url('../assets/OpenSans-Regular-webfont.ttf') format("truetype"), url('../assets/OpenSans-Regular-webfont.svg#OpenSansRegular') format("svg"); font-weight: normal; font-weight: 500; font-style: normal; }
@font-face { font-family: 'OpenSans'; src: url('../assets/OpenSans-Bold-webfont.eot'); src: url('../assets/OpenSans-Bold-webfont.eot?#iefix') format("embedded-opentype"), url('../assets/OpenSans-Bold-webfont.woff') format("woff"), url('../assets/OpenSans-Bold-webfont.ttf') format("truetype"), url('../assets/OpenSans-Bold-webfont.svg#OpenSansBold') format("svg"); font-weight: bold; font-weight: 700; font-style: normal; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "OpenSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  margin-top: 0;
}

.strong,
strong { font-weight: bold; }

li.name h1 { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
.subheader { margin-bottom: 20px; }

.button { box-shadow: none !important; border: none; }
.panel .button.secondary { background-color: #fff; }

/* Blue Header */
header {
  background: $primary-color;
  padding: 22px 0;

  .row { overflow: visible !important; }

  a,
  p,
  a:active,
  a:hover,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 { color: #fff; }

  h1 { margin: 6px 0 0 0; }
}

#mainContent {
  margin-top: 44px;
  position: relative;

  @media #{$small} { h2 { margin-bottom: 10px; margin-top: -10px; } }

  > [role="main"] ul:not(.inline-list), [role="main"] ol { margin-left: 34px; }
}

#sidebarButton { margin-bottom: 30px; margin-top: 30px; }

.next-step { margin-bottom: 60px; margin-top: 30px;
  .inline-list { overflow: visible; @include clearfix; }
}
.next-step .button { margin-bottom: 0; }

/* All Components Mega List */
#allElements {
  position: absolute;
  right: 16px;
  bottom: -22px;
  background: lighten($primary-color, 15%);
  font-size: 14px;
  padding: 12px 16px 6px 16px;
  display: block;
  font-size: 12px;
  @include single-transition(all,200ms);

  &.open {
    background: lighten($primary-color, 5%);
    padding-bottom: 10px;
  }
  &:hover {
    background: lighten($primary-color, 10%);
    padding-bottom: 10px;
  }
  .touch & {
    padding-bottom: 10px;
  }
}

.all-elements {
  display: none;
  background: rgba(#222,0.96);
  width: 100%;
  top: -100px;
  z-index: 100;
  position: fixed;
  overflow:scroll;
  @include single-transition(top,200ms);

  * { color: #fff; }
  h6 { margin-bottom: 3px; }
  p {
    font-size: 12px;
    line-height: 1.3;
    margin-bottom: 0;
    color: #bbb;
  }

  a {
    display: block;
    padding: 10px 12px;
  }
  a:hover { background: #333; }
  &.open {
    top: 0px;
  }

  > .row {
    min-width: 100%;
    padding: 40px 50px;
    border-bottom: solid 1px #333;

    .columns > h4 { padding-left: 10px; }
  }
}
.mega-list {
  width: 100%;
  overflow: hidden;
  list-style: none;
  margin-bottom: 0;

  li {
    width: 50%;
    float: left;

    p { display: none; }
  }

  @media only screen and (max-width: 768px) {
    li:nth-child(2n+1) { clear: both; }
  }

  @media #{$small} {
    li {
      width: 33.3%;

      &:nth-child(3n+1) { clear: both; }
      p { display: block; }
    }
  }
}

.close-all-elements {
  font-size: 50px;
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 0 !important;
  line-height: .5;
  font-weight: 300;

  &:hover {
    background: transparent !important;
    color: #888 !important;
  }
}

/* Wells */
.well {
  border: solid 1px #ddd;
  border-top: 0;
  position: relative;

  // Example Well
  &.example {
    padding: 30px 20px 10px 20px;
    background: #fafafa;
    margin: 0;

    &:after {
      content: attr(data-label);
      font-family: 'Consolas', 'Liberation Mono', Courier, monospace;
      display: block;
      width: 100%;
      position: absolute;
      color: #bbb;
      top: 0;
      left: 0;
      text-transform: uppercase;
      font-size: 11px;
      height: 20px;
      line-height: 20px;
      text-align: right;
      padding-right: 5px;
    }
  }

  &.top-border { border-top: solid 1px #ddd; }
}

/* Options Panel */
.panel.options {
  background: #ffffff;
  border-color: #e5e5e5;
  padding: 20px !important;
  margin-bottom: 0;
  font-size: .9em;

  ul { list-style-position: outside; margin-left: 20px; }

  h4, h5, h6 { font-weight: normal; }
}

/* Custom pill tabs */
.section-container.switcheroo.tabs {
  margin-top: 10px;

  > .section {


    .title {
      top: -5px;
      background: none;
      border: none;
      padding-right: 6px;

      a {
        padding: 10px 26px;
        font-weight: bold;
        background: #eee;
        @include radius(1000px);
        color: #777;
      }
    }

    &.active .title {

      a {
        color: #fff;
        background-color: #333;
      }
    }

    .content {
      border: 0;
      padding: 20px 0 0 0;

      .well:first-child { padding-top: 30px; }
    }

  }
}

/* Docs Footer */
.row.full-width {
  max-width: 100%;
}
footer.row.full-width {
  padding-top: 30px;
  border-top: solid 1px #ddd;
  font-size: 14px;
  background: #333;
  padding-bottom: 30px;
  color: #fff;

  h6 { color: #fff; }
}

#copyright {
  background: #222;
  color: #fff;
  padding: 11px 0;

  a {
    color: #fff;
    font-size: 14px;
  }

  p,
  ul { margin-bottom: 0; }
}


/*
// Custom Styles for Examples throughout the Docs
/*

/* Alert Docs */
.alert-base {
  @include alert-base;

  &.bg { @include alert-style; }
  &.custom-bg { @include alert-style(#ff6c3c); }
  &.custom-bg-lt { @include alert-style(#eeeeee); }
  &.radius { @include radius; }
  .close { @include alert-close; }
}

/* Breadcrumb Docs */
.crumb-container {
  @include crumb-container;
  &.radius { @include radius; }
  &.crumbs li { @include crumbs; }
}

/* Button Docs */
.buttony.custom { @include button(1.1em, #FF94CB, 20px); }

.button-base {
  @include button-base;
  &.size { @include button-size; }
  &.style { @include button-style; }
  &.shine { @include single-transition(background-color); @include radius; @include inset-shadow(); }
}

/* Button Group Docs */
.button-group-docs {
  @include button-group-container;
  .button-class { @include button; }
  &.list li { @include button-group-style; }
  &.extras {
    li { @include button-group-style(true); }
    .button-class { @include inset-shadow; @include single-transition(background-color); }
  }
}

/* Forms Docs */
.attached-label {
  @include prefix-postfix-base;
  @include grid-column($columns:3,$float:left);
  &.style { @include prefix; }
  &.custom { @include prefix(orange); }
}

input[type="text"].attached-input {
  @include grid-column($columns:9);
}

/* Dropdown Buttons Docs */
.customized-dropdown-docs {
  @include button;
  @include dropdown-button;
  @include radius;
  @include single-transition;
  @include inset-shadow;
}

/* Keystroke Docs */
.custom-keystroke kbd { @include keystroke(orange);}

/* Label Docs */
.label-custom {
  @include label(0 10px,11px,pink,6px);
}

/* Panels Docs */
.panel-custom { @include panel(pink,40px); }

/* Progress Bar Docs */
.progress-custom {
  @include progress-container;
  @include radius(6px);
  & > span {
    @include progress-meter(pink);
    @include radius(5px);
  }
}

/* Side Nav Docs */
.side-nav-custom { @include side-nav(darken(orange, 20%),16px,orange); }

/* Sub Nav Docs */
.sub-nav-custom { @include sub-nav(orange,11px,orange); }

/* Thumbs Docs */
.th-custom {
  @include thumb(10px,0 0 0 2px black, 0 0 10px 2px rgba(orange,0.5));
  @include radius(6);
  @include single-transition(all,400ms,ease-in);
}

/* Grid Docs */
#masthead { @include grid-row; @include panel;
  & > hgroup { @include grid-column(4, $float:$default-float); }
  & > section { @include grid-column(8, $float:$default-float); }
}

/* Switch Docs */
.switch-custom { @include switch(700ms, ease-in-out, 50px, 18px, 2.6em, #888, lighten(yellow, 30%), lighten(red, 40%)); }
.switch-custom-base { @include switch-base;
  &.size { @include switch-size; }
  &.style { @include switch-style; }
}

/* ZURBjobs */
.jobs {
  border: 1px solid #eee;
  padding: 16px 20px 10px;
  margin-bottom: 60px;
  font-size: 14px;
  line-height: 1.1;
  overflow: hidden;
  position: relative;

  ul {
    list-style: none;

    li {
      margin-bottom: 10px;
      width: 100%;

      &:nth-child(2n+1) { clear: both; }
    }
  }
  .location {
    display: block;
    color: #555;
  }
  #via {
    font-size: 11px;
    color: lighten($primary-color, 25%);

    &:hover { color: lighten($primary-color, 25%); }
  }
}

@media only screen and (min-width: 800px) {
  .docs.header { float: $default-float; }

  .docs.subheader {
    margin-top: 38px;
    float: $opposite-direction;
  }
}