<div class="hide-for-small">
  <hr>
  <div class="jobs">
    <h5><strong>Awesome product jobs:</strong></h5>
    <script type="text/javascript" src="http://www.zurb.com/jobs/widgets/jobs.js?limit=3&variation=foundation-sidebar"></script>
    <a id="via" href="http://zurbjobs.com">via&nbsp;<span class="jobs-link">ZURBjobs</span></a>
  </div>
</div>